.article {}

.article__title {
  margin-bottom: 24px;
}

@media (min-width: $tablet) {
  .article__title {
    margin-bottom: 32px;
  }
}

.article__nav {
  margin-bottom: 24px;
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: $mobile-plus) {
  .article__nav {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (min-width: $tablet) {
  .article__nav {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .article__nav {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.article__footer {
  padding-right: 8px;
}

@media (min-width: $tablet) {
  .article__footer {
    padding-right: 0;
    max-width: 421px;
  }
}

.article__footer-p {
  margin-top: 0;
  margin-bottom: 16px;
}

.article__footer-link {}
