.body {
  font-family: TTLakes, Tahoma, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1B1C21;
  background-color: #F8F8F8;

  &:before {
    content: '';
    transition: background-color 0.5s ease;
  }

  &--overlay {
    overflow: hidden;

    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.85);
      z-index: 8;
    }
  }
}


.body__container {}

@media (min-width: $desktop) {
  .body__container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

@media (min-width: $desktop) {
  .body__container-content {
    width: calc(100% - 320px);
  }
}
