.footer {
  padding: 16px;
  border-top: 1px solid #D9FFF5;
  text-align: center;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-top: 32px;
  }

}

@media (min-width: $desktop) {
  .footer {
    width: 100%;
    padding: 32px;
    padding-bottom: 24px;
  }
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 16px;
}

@media (min-width: $tablet) {
  .footer__copyright {
    flex: 30% 0 1;
    text-align: left;
  }

}

.footer__privacy-link {
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
}

@media (min-width: $tablet) {
  .footer__privacy-link {
    flex: 30% 0 1;
  }

}

.footer__disclaimer {
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: $tablet) {
  .footer__disclaimer {
    flex: 30% 0 1;
    text-align: right;
  }

}
