.main {
  display: block;
  padding: 24px 16px;
  margin-bottom: 32px;
}

@media (min-width: $mobile-plus) {
  .main {
    padding: 24px;
  }
}

@media (min-width: $desktop) {
  .main {
    padding: 42px 32px;
    position: relative;
  }
}

.main__user-menu {
  display: none;
}

@media (min-width: $desktop) {
  .main__user-menu {
    display: flex;
    position: absolute;
    top: 42px;
    right: 32px;
  }
}

.main__title {
  margin-bottom: 24px;
}

@media (min-width: $tablet) {
  .main__title {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .main__title {
    margin-bottom: 8px;
  }
}

.main__nav {
  margin-bottom: 24px;
  margin-left: -16px;
  margin-right: -16px;
}

@media (min-width: $mobile-plus) {
  .main__nav {
    margin-left: -24px;
    margin-right: -24px;
  }
}

@media (min-width: $tablet) {
  .main__nav {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .main__nav {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.main__footer {
  padding-right: 8px;
}

@media (min-width: $tablet) {
  .main__footer {
    padding-right: 0;
    max-width: 421px;
  }
}

.main__footer-p {
  margin-top: 0;
  margin-bottom: 16px;
}

.main__footer-link {}
