.type-list {
  overflow: hidden;
}

.type-list__list {
  @include list-reset;
  display: flex;
  overflow: visible;
}

@media (min-width: $tablet) {
  .type-list__list {
    flex-wrap: wrap;
    align-content: flex-start;
  }
}

.type-list__item {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  min-height: 160px;
  width: 240px;
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
}

@media (min-width: $tablet) {
  .type-list__item {
    margin-right: 24px;
    margin-bottom: 24px;
    min-width: 224px;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

@media (min-width: $desktop) {
  .type-list__item {
    width: 240px;
  }
}

.type-list__btn {
  align-self: flex-end;
}

@media (min-width: $tablet) {
  .type-list__pagination {
    display: none;
  }
}
